
<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<script type="text/javascript">
	window.jQuery
			|| document.write("<script src='/assets/js/jquery-2.0.3.min.js'>"
					+ "<"+"script>");
</script>
</head>
<title>控制台</title>

<body>
	<div class="row">
		<div class="col-sm-5">
			<div class="widget-box transparent">
				<div class="widget-header widget-header-flat">
					<h4 class="lighter">
						<i class="icon-bell-alt red"></i> 第100期
					</h4>

					<div class="widget-toolbar">
						<a href="#" data-action="collapse">
							<i class="icon-chevron-up"></i>
						</a>
					</div>
				</div>

				<div class="widget-body">
					<div class="widget-main no-padding">
						<div class="well">
							<h4 class="green smaller lighter">距离开奖时间</h4>
							00:00
						</div>

						<div class="well well-lg">
							<h4 class="blue">押大小时间</h4>
							00:00
						</div>
					</div>
					<!-- /widget-main -->
				</div>
				<!-- /widget-body -->
			</div>
			<!-- /widget-box -->
		</div>
		<!-- 		时间 end-->

		<div class="col-sm-5">
			<div class="widget-box transparent">
				<div class="widget-header widget-header-flat">
					<h4 class="lighter">
						<i class="icon-bell-alt green"></i> 开奖控制
					</h4>

					<div class="widget-toolbar">
						<a href="#" data-action="collapse">
							<i class="icon-chevron-up"></i>
						</a>
					</div>
				</div>

				<div class="widget-body">
					<div class="widget-main no-padding">
						<div>
							<label for="form-field-select-1">策略</label> <select
								class="form-control" id="form-field-select-1"
							>
								<option value="">&nbsp;</option>
								<option value="AL">盈利最大</option>
								<option value="AK">盈利最小</option>
							</select>
						</div>
					</div>
					<!-- /widget-main -->
				</div>
				<!-- /widget-body -->
			</div>
			<!-- /widget-box -->


		</div>
	</div>


	<div class="row">
		<div class="col-sm-6">
			<div class="widget-box transparent">
				<div class="widget-header widget-header-flat">
					<h4 class="lighter">
						<i class="icon-star orange"></i> 下注情况
					</h4>

					<div class="widget-toolbar">
						<a href="#" data-action="collapse">
							<i class="icon-chevron-up"></i>
						</a>
					</div>
				</div>

				<div class="widget-body">
					<div class="widget-main no-padding">
						<table class="table table-bordered table-striped">
							<thead class="thin-border-bottom">
								<tr>
									<th><i class="icon-caret-right blue"></i> 名称</th>

									<th><i class="icon-caret-right blue"></i>下注分数</th>

									<th class="hidden-480"><i class="icon-caret-right blue"></i>
										盈利</th>
								</tr>
							</thead>

							<tbody>
								<tr>
									<td>7</td>

									<td><b class="green">9999</b></td>

									<td class="hidden-480"><span
										class="label label-info arrowed-right arrowed-in"
									>1</span></td>
								</tr>

								<tr>
									<td>online.com</td>

									<td><small> <s class="red"></s>
									</small> <b class="green">$16.45</b></td>

									<td class="hidden-480"><span
										class="label label-success arrowed-in arrowed-in-right"
									>可用</span></td>
								</tr>

								<tr>
									<td>newnet.com</td>

									<td><small> <s class="red"></s>
									</small> <b class="green">$15.00</b></td>

									<td class="hidden-480"><span
										class="label label-danger arrowed"
									>待定</span></td>
								</tr>

								<tr>
									<td>web.com</td>

									<td><small> <s class="red">$24.99</s>
									</small> <b class="green">$19.95</b></td>

									<td class="hidden-480"><span class="label arrowed">
											<s>无货</s>
									</span></td>
								</tr>

								<tr>
									<td>domain.com</td>

									<td><small> <s class="red"></s>
									</small> <b class="green">$12.00</b></td>

									<td class="hidden-480"><span
										class="label label-warning arrowed arrowed-right"
									>售完</span></td>
								</tr>
							</tbody>
						</table>
					</div>
					<!-- /widget-main -->
				</div>
				<!-- /widget-body -->
			</div>
			<!-- /widget-box -->
		</div>
	</div>
</body>
</html>
