<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<script
		src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"
	></script>
<head>
<script type="text/javascript">
	function loadUsers() {
		var url = '/demo/allUsers';
		$("#resultsBlock").load(url);
	}
</script>

</head>


<body>
	<button onclick="loadUsers()">加载表格</button>
	<div id="resultsBlock"></div>
	<div th:fragment="resultsList" id="results-block">
		<table>
			<thead>
				<tr>
					<th>Id</th>
					<th>openid</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="user : ${users}">
					<td th:text="${user.id}"></td>
					<td th:text="${user.weixinOpenId}"></td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>