<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"></meta>
<meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
<meta name="viewport"
	content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"
></meta>
<!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
<title>slot machine</title>
<!-- head 中 -->
<link rel="stylesheet"
	href="//cdn.bootcss.com/weui/1.1.1/style/weui.min.css"
/>
<link rel="stylesheet"
	href="//cdn.bootcss.com/jquery-weui/1.0.1/css/jquery-weui.min.css"
/>

<!-- body 最后 -->
<script src="//cdn.bootcss.com/jquery/1.11.0/jquery.min.js"></script>
<script src="//cdn.bootcss.com/jquery-weui/1.0.1/js/jquery-weui.min.js"></script>
<style type="text/css">
html, body {
	height: 100%;
}
</style>

</head>

<body>
	<div class="weui-tab">

		<div class="weui-tabbar">
			<a href="javascript:void(0);"
				class="weui-tabbar__item weui_bar__item_on"
				onclick="menuClick('/machine')"
			>
				<!-- 				onclick="menuClick('myindex.html')" -->
				<span class="weui-badge"
					style="position: absolute; top: -.4em; right: 1em;"
				>8</span>
				<div class="weui-tabbar__icon">
					<img src="/images/icon_machine.png" alt="" />
				</div>
				<p class="weui-tabbar__label">水果机</p>
			</a>
			<a href="javascript:void(0);" class="weui-tabbar__item"
				onclick="menuClick('openRecord.html')"
			>
				<div class="weui-tabbar__icon">
					<img src="/images/icon_machine.png" alt="" />
				</div>
				<p class="weui-tabbar__label">开奖记录</p>
			</a>
			<a href="#orderPage" class="weui-tabbar__item">
				<div class="weui-tabbar__icon">
					<img src="/images/icon_machine.png" alt="" />
				</div>
				<p class="weui-tabbar__label">充值</p>
			</a>
			<a href="#mePage" class="weui-tabbar__item">
				<div class="weui-tabbar__icon">
					<img src="/images/icon_machine.png" alt="" />
				</div>
				<p class="weui-tabbar__label">我</p>
			</a>
		</div>

		<div class="weui-tab__bd">
			<div id="mainPage"
				class="weui-tab__bd-item weui-tab__bd-item--active"
			>
				
			</div>
		</div>
	</div>


	<!-- body 最后 -->
	<script src="http://cdn.bootcss.com/jquery/1.11.0/jquery.min.js"></script>
	<script
		src="http://cdn.bootcss.com/jquery-weui/1.0.0-rc.0/js/jquery-weui.min.js"
	></script>


	<!-- 如果使用了某些拓展插件还需要额外的JS -->
	<script
		src="http://cdn.bootcss.com/jquery-weui/1.0.0-rc.0/js/swiper.min.js"
	></script>
	<script
		src="http://cdn.bootcss.com/jquery-weui/1.0.0-rc.0/js/city-picker.min.js"
	></script>

	<script type="text/javascript">
		function menuClick(pageUrl) {
			$('#mainPage').load("loading.html");
			$('#mainPage').load(pageUrl);
		};
		$(document).ready(function(){
			menuClick('/machine');
		});
	</script>
</body>


</html>
