<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"></meta>
<meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
<meta name="viewport"
	content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"></meta>
<!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
<title>slot machine</title>
<!-- head 中 -->
<link rel="stylesheet"
	href="http://cdn.bootcss.com/weui/1.1.1/style/weui.min.css"></link>
<link rel="stylesheet"
	href="http://cdn.bootcss.com/jquery-weui/1.0.1/css/jquery-weui.min.css"></link>

<!--游戏首页样式-->
<link rel="stylesheet" href="/css/index.css"></link>
</head>
<body>
	<div class="weui-flex">
		<div class="weui-flex__item">
			<marquee direction="left" behavior="scroll" bgcolor="red">
				<font face="隶书" color="#AAAAAA" size="3">恭喜x1赢得1000分</font>
			</marquee>
		</div>
	</div>
	<div class="weui-flex">
		<div class="weui-flex__item">
			<div style="color: red">
				第<span id="recordIdSpan">0</span>期
			</div>
		</div>
		<div class="weui-flex__item">
			<div style="color: red">
				<p th:text="'昵称：' + ${nickname} + '!'"></p>
			</div>
		</div>
	</div>



	<!--游戏区域开始-->
	<div class="screen">
		<table class="screen-table" cellpadding="0" cellspacing="1">
			<tr>
				<td id="0"></td>
				<td id="1"></td>
				<td id="2"></td>
				<td id="3"></td>
				<td id="4"></td>
				<td id="5"></td>
				<td id="6"></td>
			</tr>
			<tr>
				<td id="23"></td>
				<td colspan="5" rowspan="5" valign="top" height="30px"
					style="background: url(images/center.jpg); background-size: cover; position: relative; border-width: 2px; border-style: solid; border-color: white">
					<div class="weui-flex"
						style="position: relative; top: 5px; height: 30px;">
						<div id="gotscore" class="weui-flex__item number"
							style="box-shadow: 2px 2px 2px #888888 inset, -2px -2px 2px #888888 inset; border-radius: 5px; text-align: center; color: red; display: inline;"
							align="left">000000</div>
						<div class="weui-flex__item number"></div>
						<div id="myscore" class="weui-flex__item number"
							style="box-shadow: 2px 2px 2px #888888 inset, -2px -2px 2px #888888 inset; border-radius: 5px; text-align: center; color: red; display: inline;"
							align="right">000010</div>
					</div>
					<div style="color: red">
						开奖时间： <span id="timeSpan" class="number">00:00</span>
					</div>
				</td>
				<td id="7"></td>
			</tr>
			<tr>
				<td id="22"></td>
				<td id="8"></td>
			</tr>
			<tr>
				<td id="21"></td>
				<td id="9"></td>
			</tr>
			<tr>
				<td id="20"></td>
				<td id="10"></td>
			</tr>
			<tr>
				<td id="19"></td>
				<td id="11"></td>
			</tr>
			<tr>
				<td id="18"></td>
				<td id="17"></td>
				<td id="16"></td>
				<td id="15"></td>
				<td id="14"></td>
				<td id="13"></td>
				<td id="12"></td>
			</tr>
		</table>
		<br/>
	</div>
	<div class="operate-contain">
		<div class="operate">
			<table height="100%">
				<tr>
					<td><a id="addMul" class="yx-btn" onclick="addMultiple()">X10</a></td>
					<td><a id="addScore" class="zfx-btn" onclick="addScore()">+</a></td>
					<td><a id="reduceScore" class="zfx-btn"onclick="reduceScore()">-</a></td>
					<td><a class="yx-btn">1-6</a></td>
					<td><a class="yx-btn">8-13</a></td>
					<td style="width:50px"><a class="yx-btn" >GO</a></td>
				</tr>
			</table>
		</div>
	</div>

	<div>
		<table width="100%" cellspacing="0">
			<tr class="bet-num-tr">
				<td><div class="number" id="score1" style="color: red;">00</div></td>
				<td><div class="number" id="score2" style="color: red;">00</div></td>
				<td><div class="number" id="score3" style="color: red;">00</div></td>
				<td><div class="number" id="score4" style="color: red;">00</div></td>
				<td><div class="number" id="score5" style="color: red;">00</div></td>
				<td><div class="number" id="score6" style="color: red;">00</div></td>
				<td><div class="number" id="score7" style="color: red;">00</div></td>
				<td><div class="number" id="score8" style="color: red;">00</div></td>
			</tr>
		</table>
	</div>
	
	<div style="margin-top: 3px;height: 45px;background-color: #e1870a;" align="center">
		<table width="100%" cellspacing="0">
			<tr class="bet-btn-tr">
				<td><a id="bet1" class="yx-bet-btn" onclick="bet(1)">&nbsp;&nbsp;</a></td>
				<td><a id="bet2" class="yx-bet-btn" onclick="bet(2)">&nbsp;&nbsp;</a></td>
				<td><a id="bet3" class="yx-bet-btn" onclick="bet(3)">&nbsp;&nbsp;</a></td>
				<td><a id="bet4" class="yx-bet-btn" onclick="bet(4)">&nbsp;&nbsp;</a></td>
				<td><a id="bet5" class="yx-bet-btn" onclick="bet(5)">&nbsp;&nbsp;</a></td>
				<td><a id="bet6" class="yx-bet-btn" onclick="bet(6)">&nbsp;&nbsp;</a></td>
				<td><a id="bet7" class="yx-bet-btn" onclick="bet(7)">&nbsp;&nbsp;</a></td>
				<td><a id="bet8" class="yx-bet-btn" onclick="bet(8)">&nbsp;&nbsp;</a></td>
<!-- 				<td><button id="bet2" type="button" onclick="bet(2)"></button></td> -->
<!-- 				<td><button id="bet3" type="button" onclick="bet(3)"></button></td> -->
<!-- 				<td><button id="bet4" type="button" onclick="bet(4)"></button></td> -->
<!-- 				<td><button id="bet5" type="button" onclick="bet(5)"></button></td> -->
<!-- 				<td><button id="bet6" type="button" onclick="bet(6)"></button></td> -->
<!-- 				<td><button id="bet7" type="button" onclick="bet(7)"></button></td> -->
<!-- 				<td><button id="bet8" type="button" onclick="bet87)"></button></td> -->

			</tr>
		</table>
	</div>

	<!-- <div class="control">
		<table cellspacing="5">
			<tr class="bet-num-tr">
				<td><div class="number" id="score1" style="color: red;">00</div></td>
				<td><div class="number" id="score2" style="color: red;">00</div></td>
				<td><div class="number" id="score3" style="color: red;">00</div></td>
				<td><div class="number" id="score4" style="color: red;">00</div></td>
				<td><div class="number" id="score5" style="color: red;">00</div></td>
				<td><div class="number" id="score6" style="color: red;">00</div></td>
				<td><div class="number" id="score7" style="color: red;">00</div></td>
				<td><div class="number" id="score8" style="color: red;">00</div></td>
			</tr>
			<tr class="bet-btn-tr">
				<td><button id="bet1" type="button" onclick="bet(1)"></button></td>
				<td><button id="bet2" type="button" onclick="bet(2)"></button></td>
				<td><button id="bet3" type="button" onclick="bet(3)"></button></td>
				<td><button id="bet4" type="button" onclick="bet(4)"></button></td>
				<td><button id="bet5" type="button" onclick="bet(5)"></button></td>
				<td><button id="bet6" type="button" onclick="bet(6)"></button></td>
				<td><button id="bet7" type="button" onclick="bet(7)"></button></td>
				<td><button id="bet8" type="button" onclick="bet87)"></button></td>

			</tr>
			<tr style="color: white" align="center">
				<td>X50</td>
				<td>X40</td>
				<td>X30</td>
				<td>X20</td>
				<td>X15</td>
				<td>X10</td>
				<td>X5</td>

			</tr>
		</table>
	</div>
 -->

	<div id="confirmBetBtn" class="button" onclick="confirmBet()">确认下注</div>
	<div class="button czBtn" onclick="reset()">重置</div>

	<!--游戏区域结束-->

	<!--目标游戏开始-->
	<div class="target"></div>
	<!--目标游戏结束-->


	<input type="hidden" id="userid" th:value="${userid}" />

	<script src="http://cdn.bootcss.com/jquery/1.11.0/jquery.min.js"></script>
	<script
		src="http://cdn.bootcss.com/jquery-weui/1.0.1/js/jquery-weui.min.js"></script>
	<script type="text/javascript" src="/js/sockjs-1.1.1.js"></script>
	<script type="text/javascript" src="/js/tool.js"></script>
	<script type="text/javascript" src="/js/machine.js"></script>
	<script type="text/javascript" src="/js/index.js"></script>
	<script type="text/javascript" src="/js/timecounter.js"></script>
	<script type="text/javascript" src="/js/websocket.js"></script>

</body>
</html>
