<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"
>
<!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
<title>slot machine</title>
<!-- head 中 -->
<link rel="stylesheet"
	href="//cdn.bootcss.com/weui/1.1.1/style/weui.min.css"
>
<link rel="stylesheet"
	href="//cdn.bootcss.com/jquery-weui/1.0.1/css/jquery-weui.min.css"
>

<!-- body 最后 -->
<script src="//cdn.bootcss.com/jquery/1.11.0/jquery.min.js"></script>
<script src="//cdn.bootcss.com/jquery-weui/1.0.1/js/jquery-weui.min.js"></script>


<!--游戏首页样式-->
<link rel="stylesheet" href="/css/index.css">

</head>
<body>
	<div class="weui-flex">
		<div class="weui-flex__item">
			<marquee direction="left" behavior="scroll" bgcolor="red">
				<font face="隶书" color="#AAAAAA" size="3">恭喜x1赢得1000分</font>
			</marquee>
		</div>
	</div>
	<!--游戏区域开始-->
	<div class="screen">
		<table cellpadding="0" cellspacing="1">
			<tr>
				<td id="0"
					style="background: url(images/0.png); background-size: cover"
				></td>
				<td id="1"
					style="background: url(images/1.png); background-size: cover;"
				></td>
				<td id="2"
					style="background: url(images/2.png); background-size: cover;"
				></td>
				<td id="3"
					style="background: url(images/3.png); background-size: cover;"
				></td>
				<td id="4"
					style="background: url(images/4.png); background-size: cover;"
				></td>
				<td id="5"
					style="background: url(images/5.png); background-size: cover;"
				></td>
				<td id="6"
					style="background: url(images/6.png); background-size: cover;"
				></td>
			</tr>
			<tr>
				<td id="23"
					style="background: url(images/19.png); background-size: cover;"
				></td>
				<td colspan="5" rowspan="5" valign="top" height="30px"
					style="background: url(images/center.jpg); background-size: cover; position: relative; border-width: 2px; border-style: solid; border-color: white"
				>
					<div class="weui-flex"
						style="position: relative; top: 5px; height: 30px;"
					>
						<div class="weui-flex__item number"
							style="box-shadow: 2px 2px 2px #888888 inset, -2px -2px 2px #888888 inset; border-radius: 5px; text-align: center; color: red; display: inline;"
							align="left"
						>000000</div>
						<div class="weui-flex__item number"></div>
						<div id="myscore" class="weui-flex__item number"
							style="box-shadow: 2px 2px 2px #888888 inset, -2px -2px 2px #888888 inset; border-radius: 5px; text-align: center; color: red; display: inline;"
							align="right"
						>000010</div>
					</div>
				</td>
				<td id="7"
					style="background: url(images/7.png); background-size: cover"
				></td>
			</tr>
			<tr>
				<td id="22"
					style="background: url(images/18.png); background-size: cover;"
				></td>
				<td id="8"
					style="background: url(images/8.png); background-size: cover;"
				></td>
			</tr>
			<tr>
				<td id="21"
					style="background: url(images/17.png); background-size: cover;"
				></td>
				<td id="9"
					style="background: url(images/9.png); background-size: cover;"
				></td>
			</tr>
			<tr>
				<td id="20"
					style="background: url(images/17.png); background-size: cover;"
				></td>
				<td id="10"
					style="background: url(images/9.png); background-size: cover;"
				></td>
			</tr>
			<tr>
				<td id="19"
					style="background: url(images/17.png); background-size: cover;"
				></td>
				<td id="11"
					style="background: url(images/9.png); background-size: cover;"
				></td>
			</tr>
			<tr>
				<td id="18"
					style="background: url(images/16.png); background-size: cover;"
				></td>
				<td id="17"
					style="background: url(images/15.png); background-size: cover;"
				></td>
				<td id="16"
					style="background: url(images/14.png); background-size: cover;"
				></td>
				<td id="15"
					style="background: url(images/13.png); background-size: cover;"
				></td>
				<td id="14"
					style="background: url(images/12.png); background-size: cover;"
				></td>
				<td id="13"
					style="background: url(images/11.png); background-size: cover;"
				></td>
				<td id="12"
					style="background: url(images/10.png); background-size: cover;"
				></td>
			</tr>
		</table>
	</div>


	<div class="control">
		<table>
			<tr class="bet-num-tr">
				<td><div class="number" id="score1" style="color: red;">00</div></td>
				<td><div class="number" id="score2" style="color: red;">00</div></td>
				<td><div class="number" id="score3" style="color: red;">00</div></td>
				<td><div class="number" id="score4" style="color: red;">00</div></td>
				<td><div class="number" id="score5" style="color: red;">00</div></td>
				<td><div class="number" id="score6" style="color: red;">00</div></td>
				<td><div class="number" id="score7" style="color: red;">00</div></td>
			</tr>
			<tr class="bet-btn-tr">
				<td><button id="bet1" type="button"
						style="background: url(images/0.png); background-size: cover;"
						onclick="bet(1)"
					></button></td>
				<td><button id="bet2" type="button"
						style="background: url(images/1.png); background-size: cover;"
						onclick="bet(2)"
					></button></td>
				<td><button id="bet3" type="button"
						style="background: url(images/2.png); background-size: cover;"
						onclick="bet(3)"
					></button></td>
				<td><button id="bet4" type="button"
						style="background: url(images/3.png); background-size: cover;"
						onclick="bet(4)"
					></button></td>
				<td><button id="bet5" type="button"
						style="background: url(images/4.png); background-size: cover;"
						onclick="bet(5)"
					></button></td>
				<td><button id="bet6" type="button"
						style="background: url(images/5.png); background-size: cover;"
						onclick="bet(6)"
					></button></td>
				<td><button id="bet7" type="button"
						style="background: url(images/6.png); background-size: cover;"
						onclick="bet(7)"
					></button></td>

			</tr>
			<tr style="color: white" align="center">
				<td>X50</td>
				<td>X40</td>
				<td>X30</td>
				<td>X20</td>
				<td>X15</td>
				<td>X10</td>
				<td>X5</td>

			</tr>
		</table>
	</div>
	<div style="color: red">
		开奖时间： <span id="timeSpan" class="number">00:00:00</span>
	</div>
	<div class="button staBtn" onclick="startRun()">开始抽奖</div>
	<div class="button czBtn" onclick="reset()">重置</div>
	<!--游戏区域结束-->

	<!--目标游戏开始-->
	<div class="target"></div>
	<!--目标游戏结束-->
 <script src="http://cdn.sockjs.org/sockjs-0.3.min.js"></script>  
	<script type="text/javascript" src="/js/index.js"></script>
	<script type="text/javascript" src="/js/timecounter.js"></script>
	<script type="text/javascript" src="/js/websokect.js"></script>

</body>
</html>
