<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8">
<!-- head 中 -->
<link rel="stylesheet"
	href="//cdn.bootcss.com/weui/1.1.1/style/weui.min.css"
>
<link rel="stylesheet"
	href="//cdn.bootcss.com/jquery-weui/1.0.1/css/jquery-weui.min.css"
>
<title>老虎机</title>
<style type="text/css">
.screen div {
	height: 110px;
	background-color: #ebebeb;
	border-width: 2px;
	border-style: solid;
	border-color: black;
	border-style: solid;
}

.screen table {
	width: 100px;
	height: 50px;
}
.screen table tr td {
	border-width: 2px;
	border-style: solid;
	border-color: black;
	border-style: solid;
}

.placeholder {
	margin: 5px;
	padding: 0 10px;
	background-color: #ebebeb;
	height: 2.3em;
	line-height: 2.3em;
	text-align: center;
	color: #cfcfcf;
}
</style>
</head>
<body>
	<table class="screen">
		<tr>
			<th>11</th>
			<th>22</th>
			<th>33</th>
			<th>44</th>
			<th>55</th>
			<th>66</th>
			<th>77</th>
		</tr>
		<tr>
			<th>22</th>
		</tr>
		<tr>
			<th>33</th>
		</tr>
		<tr>
			<th>44</th>
		</tr>
		<tr>
			<th>55</th>
		</tr>
		<tr>
			<th>66</th>
		</tr>
		<tr>
			<th>77</th>
		</tr>
	</table>
	<div class="weui-flex">
		<div class="weui-flex__item">
			<div class="weui-flex screen">
				<div class="weui-flex__item">weui</div>
				<div class="weui-flex__item">weui</div>
				<div class="weui-flex__item">weui</div>
				<div class="weui-flex__item">weui</div>
				<div class="weui-flex__item">weui</div>
				<div class="weui-flex__item">weui</div>
				<div class="weui-flex__item">weui</div>
				<div class="weui-flex__item">weui</div>
			</div>
		</div>
	</div>



	<!-- body 最后 -->
	<script src="//cdn.bootcss.com/jquery/1.11.0/jquery.min.js"></script>
	<script src="//cdn.bootcss.com/jquery-weui/1.0.1/js/jquery-weui.min.js"></script>
	<!-- 如果使用了某些拓展插件还需要额外的JS -->
	<script src="//cdn.bootcss.com/jquery-weui/1.0.1/js/swiper.min.js"></script>
	<script src="//cdn.bootcss.com/jquery-weui/1.0.1/js/city-picker.min.js"></script>
</body>

</html>
