<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet"
	href="http://cdn.bootcss.com/weui/1.1.1/style/weui.min.css"></link>
<link rel="stylesheet"
	href="http://cdn.bootcss.com/jquery-weui/1.0.1/css/jquery-weui.min.css"></link>
<title>充值</title>
<style type="text/css">
.remind-div {
    background-color: green;
    background-color: #999;
    color: azure;
    font-family: cursive;
}
</style>
</head>
<body>
	<div class="remind-div">
		<p>1.长按二维码，进行扫描充值</p>
		<p>2.充值成功后，联系客服，我们将给以确认。</p>
	</div>
	
	<img style="width: 100%;" src="/images/pay.jpeg" />
</body>
</html>
